@*@using Product_CoreDomain.Products_Application.Interfaces.Common;*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*@model Product_CoreDomain.Products_Application.ServicesHandler.CommonServices.Filters.Paging<ITEntity>*@
@model Northwind_App.ViewModels.ProductVM.ProductViewModel



<div>
    <ul class="pagination" id="pagenumber">
        @*<li class="page-item"><a class="btn btn-outline-light btn-sm text-primary">First Page</a></li>*@
        @{
            var buttonPages = ViewData["ButtonPages"] as List<int>;
        
        var a = ViewBag.SelectedPage;
          var x = "sdfasdf";

            if (buttonPages != null)
            {
              
             
                foreach (var pages in buttonPages)
                {

                    <li class="page-item">
                           <a class="@(pages == ViewBag.SelectedPage ? "btn btn-secondary btn-sm" : "btn btn-outline-light btn-sm text-primary")" asp-route="ProductList" asp-route-page="@pages" asp-route-search="@ViewData["Search"]" asp-route-filter="@ViewData["Filter"]">@pages</a>
                    </li>
                    
                    //<li class="page-item"><a class="page-link" asp-route-page="@item">@item</a></li>
                }

                //<li class="page-item"><a class="page-link" asp-route-page="@x">@x</a></li>
            }
        }

    </ul>
</div>

@section Scripts{
    <script type="text/javascript">
        function PagerClick(index) {
           let pageNumber = document.getElementById("pagenumber");
          
         //  for(let i = 0; i<= pageNumber.childNodes.length; i++){
                pageNumber.childNodes[index].style.backgroundColor = "green";
          // }
          
        }
    </script>
}