<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Northwind Inventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Product_CoreDomain.styles.css" asp-append-version="true" />
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
</head>
<body>
    <div class="container-fluid min-vh-100 flex-grow-1" id="main-container">
        <div class="row">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid ">

                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NorthwindTraders</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        @*<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>


                            </ul>
                        </div>*@
                        @*<partial name="_loginPartial"></partial>*@
                    </div>
                </nav>
            </header>
        </div>
        <div class="row min-vh-100">
            @{
                var selectedNav = ViewData["SelectedNav"] as string;
            }
            <div class="col-2 me-2">
                <div className='side-container'>
                    <div class="accordion d-block" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#product-collapse" aria-expanded="false" aria-controls="collapseOne">
                                    <img class="img-responsive" src="@("~/UploadedFiles/UI_Imgs/icons8-new-product-96.png")" asp-append-version="true" width='16' height='16' alt="product">
                                    Product
                                </button>
                            </h2>
                            <div id="product-collapse" class="@(selectedNav == "list" ? "accordion-collapse collapse show" : "accordion-collapse collapse")" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav nav-pills flex-column mb-auto">
                                        <li class="nav-item"><a class="@(selectedNav== "list" ? "dropdown-item nav-link-sm text-dark bg-secondary text-white" : "dropdown-item nav-link-sm text-decoration-none")" asp-area="" asp-route-list="list" asp-route="ProductList" asp-route-productPage="1">Catalog</a></li>
                                        <li><a class="dropdown-item nav-link-sm text-dark" asp-area="" asp-controller="Authorization" asp-action="CreateUser">Supplier</a></li>
                                        <li><a class="dropdown-item nav-link-sm text-dark" asp-area="" asp-controller="User" asp-action="Users">Categories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#supplier-collapse" aria-expanded="false" aria-controls="collapseTwo">
                                    <img src="@("~/UploadedFiles/UI_Imgs/icons8-supplier-100.png")" asp-append-version="true" width='16' height='16'>Supplier
                                </button>
                            </h2>
                            <div id="supplier-collapse" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#purchase-collapse" aria-expanded="false" aria-controls="collapseThree">
                                    <img class="img-responsive" src="@("~/UploadedFiles/UI_Imgs/icons8-purchase-order-100.png")" asp-append-version="true" width='16' height='16' alt="product">
                                    Purchases
                                </button>
                            </h2>
                            <div id="purchase-collapse" class="@(selectedNav == "purchase" ? "accordion-collapse collapse show" : "accordion-collapse collapse")" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav nav-pills flex-column mb-auto">
                                        <li><a class="@(selectedNav== "purchase" ? "dropdown-item nav-link-sm text-dark bg-secondary text-white" : "dropdown-item nav-link-sm text-decoration-none ")" asp-area="" asp-route-purchase="purchase" asp-route="PurchaseRequestList">Request</a></li>
                                        <li><a class="dropdown-item nav-link-sm text-dark" asp-area="" asp-controller="Authorization" asp-action="CreateUser">Approved</a></li>
                                        <li><a class="dropdown-item nav-link-sm text-dark" asp-area="" asp-controller="User" asp-action="Users">Declined</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#shippingcollapse" aria-expanded="false" aria-controls="collapseFour">
                                    <img src="@("~/UploadedFiles/UI_Imgs/icons8-in-transit-64.png")" asp-append-version="true" width='16' height='16'>
                                    Shipping
                                </button>
                            </h2>
                            <div id="shippingcollapse" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="nav nav-pills flex-column mb-auto">
                                        <li><a class="dropdown-item nav-link-sm text-dark" asp-area="" asp-route="PurchaseRequestList">Request</a></li>
                                        <li><a class="dropdown-item nav-link-sm text-dark" asp-area="" asp-controller="Authorization" asp-action="CreateUser">Approved</a></li>
                                        <li><a class="dropdown-item nav-link-sm text-dark" asp-area="" asp-controller="User" asp-action="Users">Declined</a></li>
                                    </ul>
                               </div>
                                  
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false" aria-controls="collapseFive">
                                    <img class="img-responsive" src="@("~/UploadedFiles/UI_Imgs/icons8-purchase-order-100.png")" asp-append-version="true" width='16' height='16' alt="product">
                                    Orders
                                </button>
                            </h2>
                            <div id="orders-collapse" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#customer-collapse" aria-expanded="false" aria-controls="collapseSix">
                                    <img class="img-responsive" src="@("~/UploadedFiles/UI_Imgs/icons8-purchase-order-100.png")" asp-append-version="true" width='16' height='16' alt="product">
                                    Customers
                                </button>
                            </h2>
                            <div id="customer-collapse" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9 ms-3" id="content-container">
                @RenderBody()
            </div>

        </div>
        <footer class="border-top footer text-muted row ">
            <div class="col align-content-md-end">
                &copy; 2023 - Product_CoreDomain - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
