@model Northwind_App.ViewModels.PurchaseVM.PurchaseRequestDetailVM

@{
    ViewData["Title"] = "Purchase Requests";

}

@{
    //TempData["RequestDetail"] = Model;
    //TempData.Keep("RequestDetail");
    //var x = TempData["RequestDetail"];
}
<h5>Purchase Requests</h5>

<p>
    <a class="btn btn-sm btn-outline-light text-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.QuantityRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RequestList) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
 
            <td>
                @Html.DisplayFor(modelItem => item.QuantityRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    <ul class="d-sm-inline-flex align-content-between">
                        <li class="btn btn-light btn-sm">
                            <a class="text-decoration-none " asp-route="SelectedPurchaseRequest" asp-route-requestAction="requestdetail" asp-route-id="@item!.RequestId">Approve</a>
                        </li>
                        <li class="btn btn-light btn-sm ml-3"> <a class="text-decoration-none">Details</a></li>                  
                        <li class="btn btn-light btn-sm ml-3"> <a class="text-decoration-none" >Delete</a></li>

                    </ul>
              
            </td>
        </tr>
}
    </tbody>
</table>

 <partial name="_ButtonPages"/>