@model Northwind_App.ViewModels.PurchaseVM.StorePurchaseVM

@{
    ViewData["Title"] = "ApprovedPurchases";
}

<h5>Approved Purchases</h5>

<p>
    <a class="btn btn-sm btn-outline-light text-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model!.PurchaseRequest!.DateRequested)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PurchaseId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model!.PurchaseRequest!.Product!.ProductName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model!.PurchaseRequest!.QuantityRequested)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RequestedBy)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DateApproved)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Approver)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ApprovedQuantity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ApprovedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item!.PurchaseRequest!.DateRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.PurchaseRequest!.Product!.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseRequest!.QuantityRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.DateApproved)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Approver)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ApprovedQuantity)
                </td>
                <td>
                    @Html.DisplayFor(model => item.TotalAmount)
                </td>
                <td>
                    <ul class="d-sm-inline-flex align-content-between">
                 
                        <li class="btn btn-light btn-sm ml-3"> <a class="text-decoration-none">Details</a></li>
                        <li class="btn btn-light btn-sm ml-3"> <a class="text-decoration-none">Restock</a></li>

                    </ul>

                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_ButtonPages" />