@*@model Product_CoreDomain.Products_Infrastructure.DataModels.Product*@

@model Northwind_App.ViewModels.ProductVM.ProductViewModel
@{
    ViewData["Title"] = "Details";
}

<h4>Product Details</h4>
<hr />
<div class="row">
  
    <div class="col-md-12">

        <h5 class="card-title text-secondary text-center mt-2 bg-dark text-light">@Model!.ProductName</h5>
        <img src="@("~/UploadedFiles/Images/"+Model!.ImageFile)" class="card-img-top mt-1" asp-append-version="true" alt="@Model.ProductName" height="500rem">
        <div class="card-body">

            <dl class="row">
                @*  <dt class="col-sm-6 text-muted text-truncate">
                @Html.DisplayNameFor(model => model!.Product!.ProductName)
                </dt>
                <dd class="col-sm-6">
                @Html.DisplayFor(model => model!.Product!.ProductName)
                </dd>*@
                <dt class="col-sm-6 text-muted ">
                    @Html.DisplayNameFor(model => model.QuantityPerUnit)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.QuantityPerUnit)
                </dd>
            </dl>

            <dl class="row">
                <dt class="col-sm-6 text-muted ">
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </dt>
                <dd class="col-sm-6 ">
                    @Html.DisplayFor(model => model.UnitPrice)
                </dd>
                <dt class="col-sm-6 text-muted ">
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.UnitsInStock)
                </dd>
            </dl>

            <dl class="row">

                <dt class="col-sm-6 text-muted ">
                    @Html.DisplayNameFor(model => model.ReorderLevel)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ReorderLevel)
                </dd>

                <dt class="col-sm-6 text-muted ">
                    @Html.DisplayNameFor(model => model.Category!.CategoryName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Category!.CategoryName)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-6 text-muted ">
                    @Html.DisplayNameFor(model => model.Supplier!.CompanyName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Supplier!.CompanyName)
                </dd>

            </dl>
            <div class="col">
                <a class="btn btn-sm btn-outline-light text-primary" asp-action="ProductsInfo" asp-route-id="@Model?.ProductId">Edit</a>
                <a class="btn btn-sm btn-outline-light text-primary" asp-route="ProductList" asp-route-list="list" asp-route-itemPage="1">Back to List</a>
            </div>
          
           
        </div>
 
   </div>
   </div>
